{% extends 'base.html' %} 
{% block title %} Library | Issue_item {% endblock %}

{% load static %}

{% block content %}
<!-- Include the jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


<!-- Book Search Section -->
<center>
    <!-- <br />
    <h1 class="display-3 fw-bold ">Available Books</h1>
    <br /> -->
    <!-- Title Section -->
<div class="container mt-4">
    <div class="col-md-12">
        <div class="library-title">
            <span class="word">Available</span>
            <span class="word">Books</span>
            
        </div>
    </div>
</div>
    <div class="input-group container">
        <!-- <input
            id="search"
            type="search"
            class="form-control rounded"
            placeholder="Search Book"
            aria-label="Search"
            aria-describedby="search-addon"
        /> -->
        <form class="d-flex search-form w-100 mx-3" method="get" action="/searchproduct/">
            <input type="search" name="q" class="form-control search-input mx-2" placeholder="Search for Book, Author">
            <button class="btn btn-outline-primary" type="submit">Search</button>
          </form>
    </div>
</center>

<br />


  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="{% url 'issue_item' %}" method="POST">
                {% csrf_token %}
                    <label for="expected_return_date"><b>Expected Return Date</b></label><br>
                    <input type="date" name="expected_return_date" class="form-control" placeholder="expected_return_date" required>
                <br>
                {% for book in books %}

                 <input type="hidden" name="book_id" value="{{ book.id }}" />
                {% endfor %}
                <br>
                <center>
                    <button type="submit" class="btn btn-primary">Issue book</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Back</button>
                </center>
                

            </form>
            <!-- <center>
                        <form action="{% url 'issue_item' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="book_id" value="{{ book.id }}" />
                            <button type="submit" class="btn btn-outline-success btn-sm">
                                <b>Issue</b>
                            </button>
                        </form>
                    </center> -->
            <br>
         
            <!-- Display error messages if any -->
            <!-- {% for message in messages %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
            {% endfor %} -->
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Back</button>
          <button type="button" class="btn btn-primary">Issue book</button>
        </div> -->
      </div>
    </div>
  </div>


<div class="container">
    <!-- Display Messages -->
{% for message in messages %}
<div class="alert alert-{{ message.tags }} rounded-0" role="alert">
    {{ message }}
</div>
{% endfor %}

    <table class="table" style="border: none;">
        <thead class="thead-dark">
            <tr style="background-color: rgb(146, 146, 146);">
                <th scope="col">Book Name</th>
                <th scope="col">Author Name</th>
                <th scope="col">Subject</th>
                <!-- <th scope="col">Quantity</th> -->
                <th scope="col">Issue</th>
            </tr>
        </thead>
        <tr style="height: 10px;"></tr>
        <tbody id="table_data">
            {% for book in books %}
            <tr style="background-color: rgb(212, 209, 209);">
                 <td>{{ book.book_name }}</td>
                <td>{{ book.author_name }}</td>
                <td>{{ book.subject }}</td>
                <!-- <td>{{ book.quantity }}</td> -->
                <td>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Issue
                    </button>
                    <!-- <a href="/confirm_issue_item">Issue</a> -->
                    <!-- <center>
                        <form action="{% url 'issue_item' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="book_id" value="{{ book.id }}" />
                            <button type="submit" class="btn btn-outline-success btn-sm">
                                <b>Issue</b>
                            </button>
                        </form>
                    </center> -->
                </td>
            </tr>

            {% endfor %}
            <tr></tr>
        </tbody>
    </table>
</div>

<!-- Search Functionality Script -->
<script>
    $(document).ready(function () {
        $("#search").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#table_data tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
            });
        });
    });
</script>

<!-- Custom Styles -->
<style>
    table {
        border-collapse: collapse;
        border-spacing: 0;
        border-radius: 10px;
        width: 100%;
        border: 1px solid #ddd;
    }

    th,
    td {
        text-align: left;
        padding: 16px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tr:nth-child(odd) {
        background-color: #ffffff;
    }

    .container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    .input-group {
        width: 100%;
        margin-bottom: 1rem;
    }

   
</style>
{% endblock %}
